@charset "utf-8";

.footer-group{
    width: 100%;
    background-color: #031a39;
    padding: 40px 0;
}
.footer_wrap{
    width: 1240px;
    margin: 0 auto;
    color: #fff;
}

.footer_info .footer_menu{}
.footer_info .footer_menu li{
    float: left;
    margin-right: 10px;
}
.footer_info .footer_menu li:last-child{
    margin-right: 0;
}
.footer_info .footer_menu li a{
    color: #fff;
}
.footer_info .footer_menu li:first-child strong {
    color: #ff0;
}
.footer_info .add{
    margin: 15px 0;
}

.aside_group .mark{
    float: left;
}
.aside_group .mark li {
    float: left;
    margin-right: 10px;
}
.aside_group .group{
    float: left;
}
.aside_group .group .sns{
    font-size: 0;

}
.aside_group .group .sns a{
    display: inline-block;
    width: 33px;
    height: 32px;
    font-size: 12px;
    text-indent: -9999px;
}
.aside_group .group .sns .ic mark{}
.ic_mark{
    background: url(../images/ficon.png) no-repeat;
}

.sns1{background-position: 0 0;}
.sns2{background-position: -42px 0;}
.sns3{background-position: -81px 0;}
.sns4{background-position: -120px 0;}
.sns5{background-position: -160px 0;}

.aside_group .group .link_group {}

.aside_group .group .button {
    border: 1px solid #fff;
    display: block;
    padding: 10px;
}

.aside_group .group .button span{
    float: right;
}

.aside_group .group .link_group a{
    color: #fff;
}
.aside_group .group .link_group a:hover{
    background-color:rgba(255,255,255,0.2);
    display: block;
}
.site_menu {display: none;}

.site_menu li {
    line-height: 2;
    padding-left: 5px;
}

