* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    list-style-type: none;
}

.container{
    height: 100vh;
    margin: 0 0;
    background-color: #0d1321;
    /* background-color:#222; */

}

.header{
    margin: 0 5%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

.header__menu{
    display: flex;
    font-display: row;
    font-size: 1.7vw;
    gap: 20%;
}

.header__menu a{
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}

.fa-brands {
    color: #fff;
}


.header__logo{
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}


.main{
    height:fit-content;
    background-color: #0d1321;
    /* padding-top: 6%; */
    color: #fff;
}

.main__neon{
    display: flex;
    justify-content: center;
}

@media (max-width: 769px) {
	.main__neon{
        display: none;
    }

    .header__logo{
        display: none;
    }

}

h2{
    margin-top: 3%;
    position: relative;
    font-size: 6em;
    color: #222;
    /* border: solid red; */
}

h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 460px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);;
}

@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}


.main__image{
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 3%;
    
}


.main__introducing{
    margin-top: 3%;
}


.main__image img{
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.introducing__contents{
    text-align: center;
    font-size: 1.5rem;
}
/*----------container2 page ----------*/
.container2 {
    height: 100vh;
    background-color: #f0ebd8;
    position: relative;
    z-index: 10;
}
.container2 .bg_l{
    width: 50%;
    height:1080px;
    background: pink;
    position: absolute;
    left: 0;
    top: 0;
}
.container2 .bg_r{
    width: 50%;
    height:1080px;
    background: lightblue;
    position: absolute;
    right: 0;
    top: 0;
}
.inner_con2{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 1080px;
    width: 100%;
    background: url(../images/new_clock.png) no-repeat center top;
    margin: 0 auto;
    z-index: 10;
}

.wrap_on_and_off{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 0 3.5%;

}
.container2_title{
    text-align: center;
    padding-top: 2%;
    
}

.container2_title em{
    font-size: 44px;
	font-style: normal;
	color: #f48840;
}

/*-----------hobby images------------*/
.hobbyimagges{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}


.hobbyimagges .item div{
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    border: solid #fff;
    margin-bottom: 30px;
    margin-right: 10px;
}

.grid_content span{
    color: #fff;
    font-size: 16px;
}

.item .imgpop img{
    width: 100%;
    height: 100%;
    display: block;
}

.hobbyimagges .item div:hover .imgpop img {
    transform: translate3d(0,0,0);
    opacity: 1;
}

.hobbyimagges .grid_content{
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #fff;
    text-align: center;
    width: 290px;
    height: 250px;
    padding : 80px 0 0 0;
    box-sizing: border-box;
    transition: padding 0.5s ease;
}

.hobbyimagges .item div:hover .grid_content{
    padding: 70px 0 0 0;
}




.introducing__contents{
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.4;
}

.container2_title{
    color: #fff;
}
.container2_title_on{
    padding-top: 4%;
}


.go_to_portfolio{
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
}

.portfolio_wrapper{
    margin-top: 1%;
    text-align: center;
}
.hobbyimagges2{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 10px;
    margin-top: 2%;
}

.hobbyimagges2 .item a{
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    opacity: 0.7;
    margin-left: 30px;
}

.hobbyimagges2 .item a strong{
    color: black;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
}


.hobbyimagges .item strong{
    color: black;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
}

.item .imgpop2 img{
    width: 100%;
    height: 100%;
    display: block;
}

.on_sentence_wrap strong{
    color: #222
}


.portfolio_wrapper a{
    font-size: 24px;
    color: #222;
    display: block;
    padding-top: 7%;
    padding-left: 50%;

}
.fa-arrow-right{
    color: #222f;
}

/*------resumes part--------*/
.resume_main{
    height:fit-content;
    background-color: #3e5c76;
    margin: 0% 2% 0% 2%;
    padding: 1% 0% 1% 0%;
}


.resume_box_wrapper{
    margin: 1% 1% 0 1%;
    background-color: #3e5c76;
}

.resume_edu{
    gap: 1%;
}

.resume_box_upper{
    display: flex;
}

.resume_box_below{
    display: flex;
}

.resume_items{
    border: solid #0d1321;
    margin: 1%;

}

.theme_header{
    background-color: #3e5c76;
    color: #fff;
    margin: 3px;
}

.commom_set{
    margin: 1%;
}

.resume_items{
    background-color: #f0ebd8;
}

.resume_edu_exp{
    width: 70%;
}

.location_date_box{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 0.5% 0 0.5% 0;
}

.desc li{
    margin: 0.5% 0 0.5% 0;
}


.skill_list s{
    font-weight: 700;
}

.Goals{
    width: 30%;
}

.goal_wrapper{
    margin-top: 10%;
}

.goal_contents{
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.lab_box{
    display: flex;
    margin: 1%;
    padding-bottom: 2%;
    gap: 10%;
    background-color: #3e5c76;
}

.lab_box_item{
    margin-left: 1%;
    border: solid #0d1321;
    display: flex;
    background-color: #f0ebd8;
}

.lab_box_item a{
    display: block;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.lab_box_item a img{
    width: 100%;
    height: 100%;
}

.lab_desc{
    color: #0d1321;
    margin: 1%;
}
.fa-arrow-left{
    color: #0d1321;
}
.lab_desc h4 {
    color: #0d1321;
}

.lab_contents{
    margin-top: 0.5%;
}
.lab_contents p{
    color: #0d1321;
    margin-left: 1%;
}

/*-----------------------courses part---------------------------*/
.courses_main{
    height:fit-content;
    background-color: #3e5c76;

}


.courses_main_header{
    /* background-color: #748cab; */
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
}
.courses_main_header h1{
    color: #fff;
    margin: 0.5%;
}

.courses_main_header form{
    display: block;
    /* border: solid pink; */
    margin: 1% 3% 0 0;
}

.courses_main_header form label{
    color: #fff;
}


.level__items__wrapper{
    border: solid #0d1321;
    margin: 1%;
    background-color: #0d1321;
    /* border: solid salmon; */

}

.level__header{
    margin: 1%;
    color: #fff;
    font-size: 25px;
    /* border: solid red; */
}


.level1__upper, .level__below{
    display: flex;
    /* border: solid yellow; */
    height: 40%;
    justify-content: space-between;
    margin: 1%;
}
/* 
.level__below{
    display: flex;
    border: solid purple;
    height: 40%;
} */

.database{
    background-color: #fcd5ce;
}

.math{
    background-color: #f1edee;
}

.achieving{
    background-color: #cdeac0;
}
.level__items{
    border: solid #0d1321;
    height: 310px;
    width: 33%;
    background-color: #f0ebd8;
    display: flex;

}

.level__items__img{
    width: 65%;
    height: 100%
}

.level__items__img img{
    width: 100%;
    height: 100%;
}
.level1__items__contents{
    /* height: 70%; */
    /* width: 70%; */
    /* overflow: hidden; */
    width: 40%;
    margin: 3PX;
    /* border: solid red; */
}